@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.font-outfit {
     font-family: "Outfit", sans-serif;
}

.dark-1 {
     color: rgba(8, 8, 8, 0.7);
}

.dark-2 {
     color: rgba(8, 8, 8, 0.5);
}

.active{
     border: 1px solid #0874F2;
     background-color: rgba(8, 116, 242, 0.05);

}
.active p {
     color: #0874F2;
}